body {
  height: 100%;
  background: url('../images/IMG_20170929_172022-01.jpg') rgb(255, 255, 255);
  background-size: auto auto;
  background-position: left top;
  font: 400 3.125em/1.38 Montserrat;
  color: rgb(255, 255, 255);
}

.text {
  float: left;
  width: 100%;
  min-height: 333px;
  margin-top: 80px;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}